<div class="row">
    <div class="col-md-12">
        <h2>Repository</h2>

        <p>
            <label for="repo">
                To contribute send a pull request on the repository
                (<a href="https://github.com/ProPheT777/certificationy-data">View on github</a>)
            </label>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
                <input class="form-control" id="repo" value="https://github.com/ProPheT777/certificationy-data.git" type="text">
            </div>
        </p>

        <blockquote>
            Note: See folder <kbd>/{{ certification.context.name }}</kbd>
        </blockquote>

        <h2>Rules</h2>
        <p>
            This training can contains :
            <ul>
                <li>Questions related to Doctrine Common</li>
                <li>Questions related to Doctrine Cache</li>
                <li>Questions related to Doctrine Migration & Fixtures</li>
            </ul>
        </p>

        <p>
            This training can't contains :
            <ul>
                <li>Questions related to Doctrine ODM</li>
                <li>Questions related to Doctrine PHPCR</li>
                <li>Questions related to Doctrine CouchDB</li>
            </ul>
        </p>
    </div>
</div>