<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            Certificationy is not affiliated with SensioLabs or Symfony and you must not contribute if you have ever tried to pass the exam.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Repository</h2>

        <p>
            <label for="repo">
                To contribute send a pull request on the repository
                (<a href="https://github.com/ProPheT777/certificationy-data">View on github</a>)
            </label>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
                <input class="form-control" id="repo" value="https://github.com/ProPheT777/certificationy-data.git" type="text">
            </div>
        </p>

        <blockquote>
            Note: See folder <kbd>/{{ certification.context.name }}</kbd>
        </blockquote>

        <h2>Rules</h2>
        <p>
            This training can contains :
            <ul>
                <li>Questions related to Symfony core</li>
                <li>Questions related to FrameworkBundle</li>
                <li>Questions related to Symfony Bridge Bundle but not related to the library itself</li>
            </ul>
        </p>

        <p>
            This training can't contains :
            <ul>
                <li>Questions related to 3rd Party bundle (suggest it on github if it's the case)</li>
                <li>Questions from the exam</li>
                <li>Questions not related to Symfony2</li>
            </ul>
        </p>
    </div>
</div>